<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='/authguard/css/authguard.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='/authguard/css/bootstrap.css') }}"
    />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Auth Guard</title>
  </head>
  <body>
    {% include "navbar.html" %} {% block content %} {% endblock %}

    <script src="{{ url_for('static', path='/authguard/js/jquery-slim.js') }}"></script>
    <script src="{{ url_for('static', path='/authguard/js/popper.js') }}"></script>
    <script src="{{ url_for('static', path='/authguard/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', path='/authguard/js/main.js') }}"></script>
    <script>
      const apiUrl = "{{ api_url }}";
      console.log(apiUrl);
    </script>
  </body>
</html>
